<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="POST" action="#" th:action="@{/greeting}" th:object="${greeting}">
     <input class="input" type="text" placeholder="U$D to BRL ex: 5,60" th:field="*{dolar}"/>
     <input class="input"  type="text" placeholder="U$D" th:field="*{real}"/>
     <button class="button centered" type="submit" value="Submit" style="margin-top: 32px; color: white; background-color: green; width: 100px;">Enviar</button>
    </form> 
</body>
</html>
